<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css"/>
    <title></title>
</head>
<body ng-app="app">

<div class="container" ng-controller="PictureCtrl">
    <div class="row">
        <div class="col-lg-12" style="text-align: center"><h3 ng-bind="theme">:</h3></div>
    </div>
    <div class="row">
        <h3>等待审核图片：</h3>
    </div>
    <div class="row" ng-show="visible">
        <div class="col-xs-12" style="text-align: center">
            <button class="btn btn-default btn-lg" ng-click="fresh()">没图了，点击刷新试试</button>
        </div>
    </div>

    <div class="row" style="margin-top: 1em" ng-repeat="item in data.value">
        <div class="col-xs-12" style="margin-top: 0.5em">
            <div ><img style="display:block;margin:0 auto" ng-src="http://gobiiig.com/imgproxy?url={{item.pictureUrl}}" alt="..." class="img-rounded"
                      width="60%" height="50%"></div>
            <div style="margin-top: 0.5em ;text-align: center">
                <button class="btn btn-primary btn-lg" ng-click="exam(item.id)"><i class="  icon-thumbs-up"></i>通 &nbsp;
                    过
                </button>
                <button class="btn btn-danger btn-lg" style="margin-left: 2em" ng-click="delete(item.id)"><i
                        class="icon-thumbs-down"></i>不通过
                </button>
            </div>
        </div>
    </div>


</div>
</body>
<script src="../js/angular.js"></script>
<script src="../js/app.js"></script>
</html>